body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: coral;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
}

button {
    background-color: hsl(211, 100%, 66%);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f20000;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
